<div class="input-group">
    <textarea class="form-control input-sm" data-textarea="message" name="message[content]" id="message_content">
    </textarea>
    <span class="input-group-btn">
        <button class="btn btn-warning btn-lg" id="btn-chat">
            Send</button>
    </span>
</div>


