<li class="right clearfix">
  <span class="chat-img pull-left">
    <img src="http://placehold.it/50/55C1E7/fff&text=<%=chatroom.topic[0,2]%>" alt="User Avatar" class="img-circle" />
  </span>
  <div class="chat-body clearfix">
    <div class="header">
      <strong class="primary-font"><%= link_to chatroom.topic, chatroom_path(chatroom), remote: true %></strong>
    </div>
    <p style="font-size: 10px;">
      Online
    </p>
  </div>
</li>